# Dart and Flutter
.dart_tool/
build/
coverage/

# Editors and operating system
.idea/
.vscode/
*.iml
.DS_Store

# Local Dart and Flutter DevTools settings
devtools_options.yaml
# Widget Preview related
.widget_preview/

# Firebase (emuladores e artefatos locais)
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
database-debug.log
pubsub-debug.log
ui-debug.log
dataconnect-debug.log
